.header{
    color: #32b9cd;
    border-bottom: 3px solid #32b9cd;
    /* border: 3px solid yellow; */
}

body{
    margin: 0;
    background-color: black;
    font-family: monospace;
}

.container{
    width: 80%;
    margin: auto;
    /* border: 3px solid red; */
}

.header .container{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    width: 600px;
    align-items: center;
    color: #E3b062;
    /* border: 3px solid blue; */
}

.agora{
    font-weight: 1000;
}

.banner{
    height: 500px;
    background-image: url(imgs/bg-jelly-fish-para-home.png);
    background-size: cover;
    
}

.banner .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner .container p{
    width: 280px;
    margin:0;
    padding:0;
    font-size: 36px;
}

.banner span{
    font-weight: bolder;
}

h1 a{
    text-decoration: none;
    color: #32b9cd;
}

li a{
    text-decoration: none;
    color: #E3b062;
}

.form-box{
    display: flex;
    flex-direction: column;
}

input{
    height: 30px;
    border: 2px solid #32b9cd;
    border-radius: 10px;
}

.btn{
    font-family: monospace;
    border: 0;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 18px;
    padding: 0;
    color: white;
    background-color: #e6005a;
    width: 120px;
    align-self: center;
    cursor: pointer;
}

.banner .card{
    background-color: #e5e5e5;
    height: 450px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #e6005a;
}

/* A partir daqui é o código é referente ao footer e missão, visão e valores */

.social{
    background-color: #e5e5e5;
    padding: 50px 0;

}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
}

.box img{
    width: 150px;
    align-self: center;
}

.box h4{
    color: #e6005a;
    margin: 30px 0 0 0;
}

.box p{
    color: black;
}

.social .container{
    display: flex;
    justify-content: space-evenly;
}

.footer{
    background-color: #32b9cd;
    height: 150px;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer .container{
    display: flex;
    justify-content: center;
}

.footer h4{
    margin: 0;
    padding: 0;
}
